<%- include('../partials/header') %>

<h1 class="m-5"><%= drill.description %></h1>
<div class="card-body">
    <form action="/drills/<%= drill.id %>" method="POST">
        <div>
            <label for="student_answer" class="form-label text-secondary">Your Answer:</label>
        </div>
        <div class="mb-3">
            <textarea type="text" class="form-control" rows="3" id="student_answer" name="student_answer"></textarea>
        </div>
        <div class="float-right">
            <input type="submit" class="btn btn-outline-secondary" value="Submit">
        </div>
    </form>
</div>

<% if (typeof student_answer !== 'undefined') { %>
    <div class="card-body">
        <% if (student_answer.toLowerCase() === drill.answer.toLowerCase()) { %>
            <h5 class="card-title">Correct!</h5>
            <p class="card-text">The correct answer was <%= drill.answer %> </p>
        <% } else { %>
            <h5 class="card-title">Sorry, that's incorrect :(</h5>
        <% } %> 
    </div>
<% } %> 
<%- include('../partials/footer') %>